@media screen and (max-width: 620px){


    .hide {
        display: none;
    } 
    img#logo {
     max-width: 80%;
        max-height: 80%;
    } section {
        max-width: 90%;
    } button {
        margin-top: 10px;
    } .left, .right {
        float: none;
    }


}