/* CSS for mobile/small browser */

@media screen and (max-width: 620px){

    body {
        font-family: 'ravensbourne_sansbold';
    }
    .hide {
        display: none;
    } 
    img#logo {
        max-width: 65%;
        max-height: 65%;
    } section {
        max-width: 90%;
    } button {
        margin-top: 10px;
    } .left, .right {
        float: none;
    }
    p {
        max-width: 70%;
        margin: auto;
        margin-bottom: 10px;
    } h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}